@layer components {
  .text-page-title {
    @apply mb-2 text-4xl font-bold text-white drop-shadow-lg;
  }

  .text-section-title {
    @apply pl-1 text-xl font-bold text-white/90 drop-shadow-md;
  }

  .text-label {
    @apply text-xs font-bold tracking-widest text-zinc-500 uppercase;
  }
}
